<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>Simon Says</h1>
  <div id="simonsays-container">
    <div id="simonsays-game">
      <button id="red" class="simonsays-button"></button>
      <button id="green" class="simonsays-button"></button>
      <button id="yellow" class="simonsays-button"></button>
      <button id="blue" class="simonsays-button"></button>
    </div>
    <button id="start-game">Start Game</button>
    <div id="current-score">Current Score: <div id="score"></div>
    </div>
    <script src="js/game.js"></script>
  </div>
</body>

</html>